/* Global Styling */

@font-face {
    font-family: "Custom-Font_regular";
    src: url("static/fonts/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: "Custom-Font-Light";
    src: url("static/fonts/SourceSansPro-Light.otf");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: "Custom-Font-Light";
    color: #FFFFFF;
}

span {
    color: #C271ff;
    font-family: "Custom-Font-Regular";
    font-weight: bolder;
}

/* Button Styling */

button {
    background-color: #C271ff;
    color: #FFFFFF;
    font-size: 0.8rem;
    border-radius: 2rem;
    height: 2.75rem;
    width: 10.125rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border: none;
}

button:hover {
    background-color: #9D4ED1;
}

/* Header Styling */

header {
    background-image: url('static/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-top: 1rem;
}

.logo-nav-links img {
    height: 100%
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    padding-left: 2rem;
    font-size: 0.75rem;
}

.logo-nav-links a {
    color: #FFFFFF;
    text-decoration: none;
}

.logo-nav-links a:hover {
    color: #cccccc;
}

/* Hero Styling */

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 120px;
    font-family: "Custom-Font-Regular";
    color: #FFFFFF;
    margin: 0;
    padding-top: 10.5rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
    margin: 0;
}

/* Smile, Grin, Laugh Styling */

.span-text {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.span-text div {
    margin: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 2.5vh;
}

.span-text p {
    margin: 0;
    padding-bottom: 2rem;
    color: #FFFFFF;
    font-weight: bolder;
}

/* People Styling */

.people-container {
    text-align: center;
    margin: 6rem;
    padding-top: 8rem;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3rem;
}

.people-container h2 {
    font-family: "Custom-Font-Light";
}

.person p {
    font-style: italic;
    font-size: 1rem;
}

.person img {
    width: 9.375rem;
    height: 9.375rem;
}